#logo {
    font-weight: bold;
    color:white;
    font-size: 2rem;
}
.sidebar {
    background-color: rgb(48, 48, 48);
    height: 100vh;
}
.sidebar nav li {
    list-style:none;
    padding:10px;
    padding-left: 20px;
}
.sidebar nav li a {
    color:white;
    font-weight: bold;
    text-decoration: none;
}
.modal {
    display: block;
}
#img-task {
    width:100%;
    height:250px;
    object-fit: cover;
}
#img-task-table {
    width:100px;
    height: 100px;
    object-fit: cover;
}
.small-box {
    border-radius: 10px;
}
.small-box .inner {
    padding: 5px;
    height: 120px;
}
.small-box-footer {
    background:rgba(0,1,1,0.2);
    display: block;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    color:white;
    padding: 5px;
    text-decoration: none;
}
.small-box-footer:hover {
    text-decoration: none;
    color: black;
}
td {
    vertical-align: baseline !important;
}