<adminLayout v-bind:activeMenu="'adminDashboard'">
  <div>
    <div class="row d-flex justify-content-between align-items-center">
      <h4 class="col-sm-12 col-md-4 mb-5">My Profile - {{authUser.fullname}}</h4>
    </div>

    <div class="row">
        <div class="row col-md-6">
            <h5 class="col-12 mt-2 mb-3">My Data</h5>
            <div class="form-group col-6">
                <label for="">{{ $t('auth.first_name')}}</label>
                <input type="text" class="form-control" v-model="authUser.first_name">
            </div>
            <div class="form-group col-6">
                <label for="">{{ $t('auth.last_name')}}</label>
                <input type="text" class="form-control" v-model="authUser.last_name">
            </div>
            <div class="form-group col-6">
                <label for="">{{ $t('auth.email')}}</label>
                <input type="text" class="form-control" v-model="authUser.email">
            </div>
            <div class="form-group col-6">
                <label for="">{{ $t('auth.gender')}}</label>
                <select class="form-control" v-model="authUser.gender">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select>
            </div>

            <button class="m-2 btn btn-primary" @click="update"><i class="far fa-edit"></i> Update</button>
        </div>
    </div>
  </div>
</adminLayout>
